.admin-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b2b2b;
  padding: 1rem 2rem;
  color: white;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;

    a {
      color: white;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        color: #f39c12;
      }
    }
  }

  .logout-btn {
    background-color:#D4AF7F;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color:#f39c12;
    }
  }
}